/*TODO: Fix responsiveness for small screen width*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin:0;
    text-align:center;
}
header, section, aside, nav, article { display: block; }

h1 {
    color: #015249;
    font-size: 3em;
    margin: 0
}

h2 {
    font-size: 1.7em;
    color: #015249;
}

p {
    margin: 10px;
    padding: 5px;
    font-size: 1.4em;
}

.header {
    height: 88vh;
}

