h3 {
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #ffffff;
}

.menu {
    border-radius: 10px  10px 0 0 !important;
    display: flex;
    padding: 1.5em 1em 1.5em 1em;
    background: #01786a;
}

.menu h3 {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin-right: auto;
}

#menu-btn {
    background-color: #01786a;
    border: none;
    width: 2em;
    padding-top: 3px;
    border-radius: 5px !important;
    padding: 0.2em 0.2em 0.2em 0.2em;
    float: right;
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 1.5em;
    color: #ffffff;
    cursor: pointer;
}

#menu-btn:hover {
  background-color: #019b89;
}

.hover-collapse .bar-text {
    display: none;
}

.hover-collapse.bar {
    width: auto;
}

.hover-collapse .navbar {
    text-align: center;
}

.hover-collapse .menu {
    text-align: center;
    display: block;
}

.hover-collapse .menu h3 {
    padding: 0;
}

.hover-collapse #menu-btn {
    float: none;
}

.hover-collapse .icon {
    padding: 0;
}

.bar {
    margin: 15px;
    border-radius: 10px !important;
    float: left;
    width: 12em;
    height: calc(88vh - 30px);       
    background: #015249;
}

.navbar {

    text-align: left;
    padding: 0.5em;  
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-radius: 5px !important;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 0.5em;
}

li:hover {
    background-color: #0f665c;
}

a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #73d1a8;
}

.icon {
    padding-right: 5px;
}

