h3 {
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #ffffff;
}

.menu {
    border-radius: 10px  10px 0 0 !important;
    display: flex;
    padding: 1.5em 1em 1.5em 1em;
    background: #01786a;
}

.menu h3 {
    padding: 0.2em 0.2em 0.2em 0.2em;
    margin-right: auto;
}

#menu-btn {
    background-color: #01786a;
    border: none;
    width: 2em;
    padding-top: 3px;
    border-radius: 5px !important;
    padding: 0.2em 0.2em 0.2em 0.2em;
    float: right;
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 1.5em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.5s;
}

#menu-btn:hover {
  background-color: #019b89;
}

.bar-text {
    transition: all 0.5s linear;
}

.hover-collapse .bar-text {
    display: none;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
  }

.hover-collapse.bar {
    width: 5em;
}

.hover-collapse .navbar {
    text-align: center;
}

.hover-collapse .menu {
    text-align: center;
    display: block;
}

.hover-collapse .menu h3 {
    padding: 0;
}

.hover-collapse #menu-btn {
    float: none;
}

.hover-collapse .icon {
    padding: 0;
}

.bar {
    margin: 15px;
    border-radius: 10px !important;
    float: left;  
    height: calc(88vh - 30px);       
    background: #015249;
    width: 12.5em;
    transition: width 0.5s ease;
}

.navbar {

    text-align: left;
    padding: 0.4em;  
}

.bar ul {
    list-style-type: none;
    padding: 0;
}

.bar li {
    border-radius: 5px !important;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 0.5em;
    transition: background-color 0.4s, color 0.5s;
}

.bar li:hover {
    background-color: #0f665c;
    color: #73d1a8;
}

a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
}

.icon {
    padding-right: 5px;
}

