.home-content {
    height: 100%;
    background: url('../../img/header_new2.jpg') !important;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover !important;
}

.desc {
    text-align: center;
    margin: 0;
    float: right;
    margin: 14vh 0 14vh 0;
    padding: 10vh 5vw 10vh 5vw;
    width: 35em;
}

.home-input {
    display: block;
    margin: 0 auto;
	padding: 0.6em 3em !important;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
    background: #57bc90;
    color: white;
    border-radius: 3px !important;
    border: none;
}

.home-input:hover {
    background: #73d1a8;
}

@media (max-width: 1240px) {
    .desc {
        display: inline-block;
        float:none;
        text-align: center;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 5px !important;
        width: auto;
    }
        
    .content {     
        height: 100%;      
        background: url('../../img/header_new.jpg') !important;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover !important;
        height: 88vh;
    }
}