.search-header {
    height: 210px;
    padding: 6vh 0;
    background: url('../../img/header_0_new.jpg') !important;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover !important;
}

.search-header h1 {
    margin-bottom: 2rem;
}

.search-form {
    display: inline-block;
}

.search-text {
    display: block;
    border:1px solid #57bc90;
    padding: 0.4em 0.5em 0.4em 0.5em;
    margin-bottom: 1em;
    font-size: 1.2em;
    width: 50vw;
}

.search-button {
    display: block;
    margin: 0 auto;
    text-align: center !important;
    padding: 0.5em 3em !important;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    background: #57bc90;
    color: white;
    border-radius: 3px !important;
    border: none;
    width: 10em
}

.search-button:hover {
    background: #73d1a8;
}

.search-result {
    height: calc(76vh - 210px);
    overflow-y:auto;
}

@media (max-width: 762px) {
    .search-header {
        height: 270px;
    }

    .search-result {
        height: calc(76vh - 270px);
    }
}